@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --stdWhite: #ffffff;
    --primaryred: #cb2e2f;
    --primegrey: #959595;
    --secondgrey: #f3f3f3;
    --licolor: #c92f2f;
    --icontop: #9a9da2;
    --headingcol: #1f1f2c;
    --greyshade: #636363;
    --footericon: #666666;
    --footercol: #1d0b0b;
    --black: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

li ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button,
input {
    background-color: transparent;
}

body {
    background-color: var(--stdWhite);
}

.sub-nav-section {
    background-color: var(--secondgrey);
    width: 100%;
    height: 35px;
}

.sub-nav {
    display: flex;
}

.sub-nav-1 {
    width: 50%;
}

.email,
.mno,
.hours {
    display: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--primegrey);
}

.sub-nav-1 ul {
    display: flex;
    list-style-type: none;
    padding-left: 10px;
    padding-top: 3px;
}

.sub-nav-2 ul {
    display: flex;
    list-style-type: none;
    padding-left: 80px;
}

.fa-clock {
    color: var(--primaryred);
    padding-left: 20px;
    padding-top: 5px;
}

.social {
    border-left: 2px solid grey;
    margin-left: 15px;
}

.social li {
    padding: 0 10px;
}

.fa-brands {
    color: var(--icontop);
}

.fa-brands:hover {
    color: var(--primaryred);
}

* .con li {
    padding: 7px 10px;
}

.main-nav-section {
    width: 100%;
    z-index: 1000;
    background-color: var(--stdWhite);
}

.main-nav-list {
    display: none;
    font-size: 14px;
    font-weight: 700;
    color: var(--licolor);
}

.top-logo {
    width: 30%;
    padding-left: 25px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.top-logo a img {
    object-fit: contain;
}

.btnMobile {
    padding-right: 30px;
}

.nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.welcome {
    padding-top: 150px;
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

.welcome h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--headingcol);
}

.welcome p {
    font-size: 14px;
    padding-top: 15px;
    color: var(--greyshade);
    font-weight: 400;
}

.intro {
    width: 90%;
    margin: 50px auto;
}

.intro figure {
    padding-bottom: 50px;
}

.intro img {
    border-radius: 10px;
}

.intro figcaption h2 {
    font-size: 1.5rem;
    color: var(--headingcol);
    font-weight: 600;
    padding: 35px 0px 25px 0;
}

.intro figure:hover figcaption h2 {
    color: var(--primaryred);
}

.intro figcaption p {
    font-size: 14px;
    color: var(--greyshade);
    font-weight: 400;
    padding-bottom: 20px;
}

.intro figcaption span {
    font-size: 17px;
    color: var(--greyshade);
}

.membership {
    height: 450px;
    background-image: linear-gradient(#00000090, #00000090),
        url(../images/illustrations/6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 60px;
}

.membership h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--licolor);
}

.membership h2 {
    padding-top: 50px;
    font-size: 24px;
    color: var(--stdWhite);
    font-weight: 600;
}

.membership button {
    margin-top: 35px;
    background-color: var(--stdWhite);
    width: 180px;
    height: 50px;
    color: var(--primaryred);
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
}

.membership button:hover {
    background-color: var(--primaryred);
    color: var(--stdWhite);
}

.latest-sermons {
    text-align: center;
    padding-top: 70px;
}

.latest-sermons h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--headingcol);
    text-transform: uppercase;
}

.latest-sermons p {
    padding-top: 14px;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
    color: var(--greyshade);
}

.global {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}

.global figure {
    padding-top: 50px;
}

.potrait {
    position: relative;
}

.potrait img {
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.date {
    width: 25%;
    background-color: var(--stdWhite);
    text-align: center;
    position: absolute;
    top: 130px;
    left: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.2s linear;
}

.global figure:hover .date {
    transform: translateY(-10px);
    background-color: var(--primaryred);
    color: var(--stdWhite);
}

.date h2 {
    font-size: 35px;
}

.icon {
    padding-top: 30px;
    padding-left: 10px;
}

.icon a {
    padding-right: 15px;
    color: var(--primegrey);
}

.icon a:hover {
    color: var(--primaryred);
}

.global figcaption h2 {
    font-size: 24px;
    color: var(--headingcol);
    font-weight: 600;
    border-bottom: 1px solid gray;
    padding-top: 13px;
    padding-bottom: 15px;
}

.global figcaption p {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
    color: var(--primegrey);
}

.global figcaption p i {
    color: var(--primaryred);
}

.global figcaption p span {
    font-style: italic;
    color: var(--greyshade);
    font-size: 14px;
    font-weight: 400;
}

.upcoming {
    height: 200px;
    background-image: linear-gradient(#00000090, #00000090),
        url(../images/illustrations/24.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: left;
    padding-top: 65px;
    margin-top: 100px;
    padding-left: 15px;
}

.upcoming h2 {
    font-size: 24px;
    color: var(--stdWhite);
    font-weight: 700;
    text-transform: uppercase;
}

.upcoming p {
    font-size: 14px;
    color: var(--stdWhite);
    line-height: 1.5;
    padding-top: 10px;
    font-weight: 400;
}

.flex-images-design {
    padding-top: 150px;
}

.flex-images-design div {
    margin-bottom: -4px;
    transition: all 0.5s linear;
}

.flex-images-design div:hover img {
    transform: scale(1.1);
    filter: blur(5px);
}

.latest-news {
    text-align: center;
    padding-top: 100px;
}

.latest-news h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--headingcol);
    text-transform: uppercase;
}

.latest-news p {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    color: var(--greyshade);
    line-height: 1.8;
    padding-top: 10px;
    font-weight: 400;
}

.news-figures {
    width: 90%;
    margin: 0 auto;
}

.news-figures figure {
    padding-top: 80px;
}

.news-figures img {
    border-radius: 5px;
}

.news-figures figcaption h2 {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 600;
}

.news-figures figcaption h2:hover,
figcaption span:hover {
    color: var(--primaryred);
}

.news-figures figcaption a {
    color: var(--primegrey);
}

.news-figures figcaption a span {
    font-size: 14px;
    font-weight: 500;
}

.news-figures figcaption p {
    font-size: 14px;
    color: var(--greyshade);
    line-height: 1.5;
    padding-top: 25px;
}

.news-figures figcaption a i {
    color: var(--primaryred);
}

.ok {
    margin-left: 15px;
    color: var(--greyshade);
    padding-left: 12px;
    font-size: 14px;
    border-left: 2px solid grey;
}

.news-figures:last-child {
    padding-bottom: 100px;
}

.newsletter {
    background-color: var(--primaryred);
    height: 220px;
    text-align: left;
    padding-left: 15px;
}

.info h2 {
    font-size: 24px;
    font-weight: 600;
    color: var(--stdWhite);
    padding-top: 20px;
    line-height: 1.3;
}

.info p {
    font-size: 16px;
    color: var(--stdWhite);
    padding-top: 10px;
    font-weight: 400;
    line-height: 1.3;
}

.form {
    position: relative;
}

.form input {
    background-color: var(--stdWhite);
    width: 90%;
    padding: 15px;
    margin-top: 12px;
    border-radius: 6px;
}

.form button {
    position: absolute;
    right: 37px;
    bottom: 4px;
    width: 115px;
    background-color: var(--primaryred);
    padding: 11px;
    border-radius: 8px;
    color: var(--stdWhite);
}

.form button:hover {
    background-color: var(--headingcol);
}

.main-footer {
    background-color: var(--footercol);
    color: var(--stdWhite);
    padding-left: 20px;
}

.footer-child-1 img {
    width: 50%;
    padding-top: 50px;
}

.footer-child-1 p {
    font-size: 14px;
    color: var(--greyshade);
    padding-top: 15px;
    line-height: 1.5;
}

.footer-child-2 h2 {
    font-size: 24px;
    color: var(--stdWhite);
    padding-top: 50px;
}

.links {
    display: flex;
    justify-content: left;
}

.links ul {
    list-style-type: none;
    width: 50%;
    padding-top: 15px;
    color: var(--greyshade);
}

.links ul li {
    padding: 15px 0px 15px 0px;
}

.links ul li:hover {
    color: var(--primaryred);
}

.footer-child-3 h2 {
    font-size: 24px;
    color: var(--stdWhite);
    padding-top: 50px;
}

.footer-child-3 a {
    color: var(--stdWhite);
    font-size: 14px;
}

.footer-child-3 a:hover {
    color: var(--primaryred);
}

.footer-child-3 span {
    font-style: italic;
    color: var(--greyshade);
}

.footer-child-3 span i {
    color: var(--primaryred);
}

.footer-child-3 a p {
    padding-bottom: 5px;
    padding-top: 25px;
}

.footer-child-4 {
    padding-bottom: 15px;
}

.footer-child-4 h2 {
    font-size: 24px;
    color: var(--stdWhite);
    padding-top: 50px;
}

.footer-child-4 p {
    padding-top: 25px;
    color: var(--greyshade);
    font-size: 14px;
}

.footer-child-4 p:hover {
    color: var(--primaryred);
}

.footer-child-4 p i {
    color: var(--primaryred);
}

.last {
    background-color: var(--black);
    color: var(--primegrey);
    text-align: center;
    padding: 30px;
    position: relative;
}

.colorlib {
    color: var(--primaryred);
}

.last-social-icons {
    padding-top: 12px;
}

.last-social-icons a {
    padding-left: 25px;
}

.last-social-icons a i {
    color: var(--footericon);
}

.last-social-icons a:hover i {
    color: var(--primaryred);
}

.top-button {
    background-color: var(--primaryred);
    position: fixed;
    bottom: 25px;
    right: 20px;
    height: 35px;
    width: 25px;
    padding-top: 8px;
}


/* Tablet View */


@media (min-width: 768px) {

    .email,
    .mno,
    .hours {
        display: inline;
    }

    .email:hover,
    .mno:hover,
    .hours:hover {
        color: var(--primaryred);
    }

    .sub-nav-2 ul {
        padding-left: 0px;
    }

    .sub-nav-section {
        height: 45px;
    }

    .sub-nav-1 ul {
        padding-left: 0px;
    }

    .top-logo {
        width: 20%;
        padding: 6px 0px 10px 35px;
    }

    .btnMobile {
        padding-right: 50px;
    }

    .btnMobile i {
        font-size: 25px;
    }

    .welcome {
        padding-top: 200px;
    }

    .welcome h1 {
        font-size: 30px;
    }

    .welcome p {
        line-height: 1.8;
        font-size: 16px;
    }

    .membership h2 {
        font-size: 30px;
    }

    .intro {
        display: flex;
        column-gap: 10px;
        flex-wrap: wrap;
        width: 90%;
        margin: 50px auto;
    }

    .intro figure {
        width: 49%;
    }

    .intro img {
        height: 50%;
    }

    .intro .figure3 {
        margin: 0 auto;
    }

    .latest-sermons {
        width: 90%;
        margin: 0 auto;
    }

    .latest-sermons h2 {
        font-size: 30px;
        color: var(--headingcol);
    }

    .latest-sermons p {
        font-size: 16px;
    }

    .global {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }

    .global figure {
        width: 45%;
        margin: 0 auto;
    }

    .global figure img {
        height: 50%;
    }

    .date {
        top: 145px;
        left: 12px;
    }

    .global figcaption h2 {
        font-size: 23px;
    }

    .upcoming {
        padding-left: 50px;
    }

    .upcoming h2 {
        font-size: 30px;
    }

    .upcoming p {
        font-size: 16px;
    }

    .flex-images-design {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-images-design div {
        width: 50%;
    }

    .latest-news h2 {
        font-size: 30px;
    }

    .latest-news p {
        font-size: 16px;
    }

    .news-figures {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        column-gap: 25px;
    }

    .news-figures figure {
        width: 48%;
    }

    .news-figures img {
        height: 50%;
    }

    .news-figures:last-child {
        justify-content: center;
    }

    .info h2 {
        font-size: 30px;
    }

    .form input {
        width: 95%;
    }

    .form button {
        right: 42px;
    }

    .newsletter {
        padding-left: 50px;
    }

    .main-footer {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
    }

    .footer-child-1,
    .footer-child-2,
    .footer-child-3,
    .footer-child-4 {
        width: 45%;
    }

    .footer-child-1 img {
        width: 50%;
        height: 29%;
        object-fit: contain;
    }

    .links {
        width: 100%;
    }

    .footer-child-4 {
        padding-bottom: 25px;
    }
}

/* Desktop View CSS  */


@media (min-width: 992px) {
    .sub-nav {
        justify-content: space-around;
        padding: 10px 0px 10px 0px;
    }

    .top-logo {
        width: 12%;
        margin-left: 81px;
    }

    .btnMobile {
        display: none;
    }

    .main-nav-list {
        display: block;
    }

    .main-nav-list ul {
        display: flex;
        gap: 40px;
        padding-right: 117px;
        padding-top: 20px;
        list-style-type: none;
    }

    .main-nav-list ul li a {
        color: var(--black);
    }

    .main-nav-list ul li a:hover {
        color: var(--primaryred);
    }

    .main-nav-list ul li button {
        background-color: var(--primaryred);
        width: 135px;
        height: 45px;
        margin-top: -13px;
        color: var(--stdWhite);
        border-radius: 5px;
    }

    .main-nav-list ul li button:hover {
        background-color: var(--headingcol);
    }

    .welcome h1 {
        font-size: 36px;
        text-transform: uppercase;
    }

    .welcome p {
        width: 650px;
        margin: 0 auto;
    }

    .intro {
        justify-content: center;
        column-gap: 25px;
    }

    .intro figure {
        width: 25%;
        height: 570px;
    }

    .intro .figure3 {
        margin: 0;
    }

    .membership h2 {
        width: 70%;
        margin: 0 auto;
        padding-top: 20px;
        font-size: 42px;
        color: var(--stdWhite);
    }

    .membership h3 {
        font-size: 25px;
        color: var(--primaryred);
        text-transform: uppercase;
    }

    .membership button {
        font-size: 15px;
        text-transform: uppercase;
    }

    .latest-sermons h2 {
        font-size: 36px;
    }

    .latest-sermons p {
        width: 50%;
        margin: 0 auto;
    }

    .global {
        justify-content: center;
        column-gap: 25px;
    }

    .global figure {
        width: 27%;
        margin: 0;
    }

    .date {
        top: 185px;
    }

    .upcoming {
        height: 230px;
        padding-left: 225px;
    }

    .upcoming h2 {
        font-size: 36px;
        text-transform: uppercase;
    }

    .flex-images-design div {
        width: 20%;
    }

    .latest-news h2 {
        font-size: 36px;
        text-transform: uppercase;
    }

    .news-figures figure {
        width: 25%;
    }

    .newsletter {
        display: flex;
        height: 139px;
        position: relative;
    }

    .info {
        width: 50%;
        padding: 10px 0px 0px 60px;
    }

    .form {
        width: 50%;
    }

    .info h2 {
        font-size: 30px;
    }

    .info p {
        font-size: 16px;
    }

    .form input {
        margin-top: 35px;
        width: 70%;
        padding: 20px;
        border-radius: 5px;
    }

    .form button {
        right: 228px;
        bottom: 54px;
    }

    .main-footer {
        column-gap: 0;
    }

    .footer-child-1,
    .footer-child-2,
    .footer-child-3,
    .footer-child-4 {
        width: 20%;
        margin: 0 auto;
    }

    .links ul li {
        padding: 3px 0px 15px 0px;
    }

    .footer-child-1 img {
        width: 65%;
        height: 40%;
    }

    .last {
        padding: 12px;
        display: flex;
        justify-content: space-between;
    }

    .last-social-icons {
        padding: 0px 45px 0px 0px;
    }
}